- spacer = `data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7`

//- NOTE: https://developer.mozilla.org/ja/docs/Web/HTML/Element/img
mixin img(options=null)
  if options
    if options.src
      -
        const src = options.src
        const size = imageSize(src)
        const border = options?.border
        let style = ""
        if (!isObjectEmpty(border)) {
          Object.keys(border).forEach(key => {
            if (border[key])  {
              if (style) { style += " " }
              style += `border-${key}: ${border[key]};`
            }
          })
        }
      img(
        class=options.className||"image"
        alt=options.alt||""
        crossorigin=options.crossorigin||false
        decoding=options.decoding||false
        elementtiming=options.elementtiming||false
        fetchpriority=options.fetchpriority||false
        ismap=options.ismap||false
        loading=options.loading||"lazy"
        referrerpolicy=options.referrerpolicy||false
        sizes=options.sizes||false
        data-src=lazyload?src:false
        src=!lazyload?src:spacer
        srcset=options.srcset||false
        usemap=options.usemap||false
        width=size.width
        height=size.height

        style=style=style!==""?style:false
      )&attributes(attributes)
    else
      +error({
        text: "options.src（※必須）の設定がありません",
        file: "_mixin/_image"
      })
  else
    +error({
      text: "options（※必須）の設定がありません",
      file: "_mixin/_image"
    })
